@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.main{
    background-color:whitesmoke
}


.nav{
    list-style-type: 0;
    margin: 0;
    padding: 0;
    width:200%;
    background-color:rgb(191, 191, 247);
    
}

.c{
    text-align:right;
}
.navlink{
    padding: 15px;
    font-size: 25px;
    
}
.navlink.hover{
    background-color: black;
}
.sub{
    margin-left: 300px
}
.hed{
    margin-left: 100px
}
.split {
    height: 30%;
    width: 100%;
    position: fixed;
    
    top: 90%;
    overflow-x: auto;
    padding-top: 20px;
  }
  .btm{
      background-color: rgb(59, 59, 59);
      color:wheat;
  }
  .op{
      background-color: transparent
  }
  .slide{
      height: 500px;
      
  }
   .login-box{
      width: 200px;
      position: absolute;
      top:50%;
      left:40%;
  } 
  .h{
    text-align: center
  }
  .room-box{
    width: 200px;
    position: absolute;
    top:30%;
    left:45%;
  }
  .fi{
      width:60%;
      height: 50%;
      border: 2px;
  }
  .reserveborder{
      width:200px;
      height:500px;
      border: rgb(194, 191, 191) 5px solid;
      box-sizing: border-box;
  }
  .sidebar-nav{
      z-index: 1;
      position: absolute;
      height:500px;
      width:200px;
      
      border: 2px solid grey;
      background:rgb(53, 52, 52);

  }
  .menu-nav{
      margin-left: 200px;
      height:500px;
      width:200px;
      border: 2px solid grey;
      background: grey;
      
  }
  .side-button{
      width:100%;
      background: rgb(0, 0, 0); /* Fallback color */
      background: rgba(94, 91, 91, 0.5);
  }
  .client-top{
      height: 100%;
      width: 100%;
      background: rgb(94, 94, 250)
  }
  .client-btn{
    margin-left: 300px;
    
  }